@import 'src/styles/variables/index.scss';

.VBButtonIcon {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;

  &:disabled {
    cursor: default;
    color: $EASE_GREY;
  }

  &svg {
    width: 100%;
    height: 100%;
  }
}
