@import 'src/styles/mixins/animation.scss';
@import 'src/styles/variables/index.scss';
@import 'src/styles/mixins/typography.scss';

.body {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 10;
  top: 0;
  left: 0;
  display: grid;
  align-items: end;
  justify-items: center;

  @media screen and (min-width: $large) {
    padding: 0 20%;
  }
}

.dark_bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: $BACKGROUND_COLOR;
  z-index: 10;
}

.dark_bg.hidden {
  opacity: 0;
}

.open_overflow {
  display: block;
  @include animation-opacity-enter;
  animation-duration: $TRANSITION_DURATION;
}

.close_overflow {
  display: block;
  @include animation-opacity-exit;
  animation-duration: $TRANSITION_DURATION;
  opacity: 0;
}

.open_modal_section {
  display: block;
  @include animation-slide-up-enter;
}

.close_modal_section {
  display: block;
  @include animation-slide-down-enter;
}

.modal_section {
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: $ROUNDING_L $ROUNDING_L 0 0;
  background-color: $MAIN;
}

.header {
  padding: 0 16px 12px 16px;
  border-bottom: 1px solid $BORDER_COLOR;
}

.main {
  padding: 0 16px 16px 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer {
  display: grid;
  justify-items: center;
}
