@import 'src/styles/variables/index.scss';
@import 'src/styles/mixins/typography';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include font-moscow-sans-xl-bold;

  .left {
    width: 1.5rem;
  }

  .right {
    width: 1.5rem;
  }
}
