@import 'src/styles/variables/index';
@import 'src/styles/mixins/animation';
@import 'src/styles/mixins/typography';

.checkbox_section {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .list_item {
    cursor: pointer;

    width: 100%;
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    column-gap: 16px;

    .data {
      @include font-moscow-sans-l;
      color: $TITLE_COLOR;
    }

    .input_section {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .input {
        background-color: $INPUT_BG;
      }

      .checkbox_section_input:focus {
        border: none;
      }
    }

    .hidden {
      opacity: 0;

      @include animation-opacity-exit;
    }

    .visible {
      display: grid;
      align-self: start;

      opacity: 1;

      @include animation-opacity-enter;
    }
  }
}