@import '../../../../../styles/variables/index';
@import '../../../../../styles/mixins/typography';

.list_item {
  display: grid;
  align-items: center;
  grid-template-columns: 1.5fr 2fr;
  column-gap: 16px;
  background-color: $ICON_BG;
  padding: 12px;
  border-radius: $ROUNDING_M;

  .header {
    @include font-moscow-sans-l-light;
    color: $EMPTY_TEXT_MESSAGE;
  }
}