// Цветовая схема. Не использовать явно!
// Вместо этого использовать цвет из переменных блока "цвет компонента" ниже.

$WHITE: #ffffff;
$ALMOST_WHITE: #f3f4f8;
$LIGHT_GREY: #f5f7fa;
$STROKE_GREY: #dde0ea;
$BG_GREY: #f3f4f8;
$PALE_GREY: #d2d4d9;
$MUTE_GREY: #c0c4d7;
$LIGHT_BLUE_GRAY: #aebfd4;
$LIGHT_WARM_GREY: #bcbcbc;
$LIGHT_GREY_BLUE: #aeb6b2;
$EASE_GREY: #b3b5bc;
$ASPHALT_GREY: #adbed6;
$CLOUD_GREY: #abb8c3;
$GR_GREY: #979cb4;
$NEUTRAL_GREY: #9496a0;
$GREY: #777985;
$DEEP_GREY: #464958;
$LIGHT_BLACK: #3e3e3e;
$DARK_GREY: #303440;
$BLACK: #282a39;
$MEDIUM_GREY: #6d7682;
$BLACK-DARK: #00000080;

$BLUE_SECONDARY: #f2f7ff;
$BLUE_SECONDARY_1: #e6f0ff;
$BLUE: #6ba1ff;
$DEEP_BLUE: #1d4988;
$BLUE_BIKE: #1d4988;
$ORANGE: #fc6030;
$RED_LIGHT: #ed3a35;
$RED: #FF0000;
$DEEP_RED: #e22900;
$LIGHT_GREEN: #57b363;
$GREEN: #3BDF01;
$LIGHT_GREY_50: #f5f7faf0;
/*$DEFAULT_COLOR: #464958;*/
/*$BORDERS_COLOR: #abb8c3;*/

// Цвет компонента

/** Backgrounds **/
$MAIN: $WHITE;
$LOGIN_FORM_ELEMENT_BG_GRADIENT_START: $RED_LIGHT;
$LOGIN_FORM_ELEMENT_BG_GRADIENT_END: $ORANGE;
$SCREEN_BG: $LIGHT_GREY;
$NOTIFICATION_DOT_STATUS: $ORANGE;
$BACKGROUND_COLOR: $BLACK-DARK;

/** Text colors **/

$PRIMARY: $ORANGE;
$INFO: $BLUE_BIKE;
$LIGHT_TEXT: $WHITE;
$TITLE_COLOR: $BLACK;
$SHADOW_TEXT: $GREY;
$EMPTY_TEXT_MESSAGE: $NEUTRAL_GREY;
$NUMBERING_TEXT: $DEEP_GREY;
$MENU_TEXT: $DARK_GREY;
$PRIMARY_LINK_COLOR: $BLUE;
$PRIMARY_LINK_HOVER_COLOR: $NEUTRAL_GREY;
$DANGER: $RED_LIGHT;
$GREY_INFO: $MEDIUM_GREY;

/** Error **/

$ERROR: $DEEP_RED;

/* Form inputs */

$INPUT_PLACEHOLDER_COLOR: $CLOUD_GREY;

/* Buttons */

//$BUTTON_PRIMARY_BG: #464958;
$BUTTON_PRIMARY_BG: $ORANGE;
//$BUTTON_SECONDARY_BG: $BLUE_SECONDARY;
$BUTTON_SECONDARY_BG: $BLUE_SECONDARY_1;
$BUTTON_SECONDARY_BG_ON_WHITE: $BLUE_SECONDARY_1;
$BUTTON_ACTION_BG: $DEEP_BLUE;
$BUTTON_PRIMARY_TEXT: $WHITE;
$BUTTON_SECONDARY_TEXT: $BLUE_BIKE;
$DISABLED_COLOR: $ASPHALT_GREY;

/* Switch */

$SWITCH_PRIMARY: $DEEP_GREY;

/* ButtonIcon */

$BUTTONICON_HOVER_BG: $MUTE_GREY;
$BUTTONICON_DISABLED_COLOR: $CLOUD_GREY;
$BUTTONICON_ACTIVE_BG: $GR_GREY;
$AUTHORIZATION_PRIMARY_BG: $BLUE_SECONDARY;
$MENU_ICON_COLOR: $EASE_GREY;
$NON_ACTIVE: $PALE_GREY;
$ICON_MAIN_COLOR: $GREY;

/* Popup */
$POPUP_TEXT: $DARK_GREY;
$TOP_MENU_IC_COLOR: $BLACK;

/* Elements */
$DIVIDER_COLOR: $PALE_GREY;
$ICON_BG: $ALMOST_WHITE;
$MAIN_DETAILS_BTN_BG_DARK: $LIGHT_BLUE_GRAY;
$MAIN_DETAILS_BG_DARK: $ALMOST_WHITE;
$MAIN_DETAILS_BG_LIGHT: $WHITE;
$ELEMENT_BG: $ASPHALT_GREY;
$POSITIVE_RESULT: $LIGHT_GREEN;
$STATUS_ONLINE: $GREEN;
$STATUS_OFFLINE: $RED;
$DETAILS_HEADER_BG_DISABLED: $LIGHT_WARM_GREY;
$CARD_ITEM_BG: $BG_GREY;
$BORDER: $GREY;

/*  Border */
$BORDER_COLOR: $STROKE_GREY;

/* Tariffs */
$TARIFFS_CONTAINER: $WHITE;
$TARIFFS_CARD_SPACE: $STROKE_GREY;
$PROMOCODE_BUTTON_BG: $WHITE;
$TARIFFS_DETAIL_ICON: $BLUE_SECONDARY;

/* Switch */

$SWITCH_PRIMARY_ANTI: $BG_GREY;
$SWITCH_TUMBLER: $WHITE;
$SWITCH_PRIMARY: $BLUE_BIKE;

/* Input */

$INPUT_BG: $LIGHT_GREY;
$INPUT_BG_50: $LIGHT_GREY_50;
$INPUT_PLACEHOLDER: $EASE_GREY;
$INPUT_FOCUS: $BLUE_BIKE;
$INPUT_DISABLED: $BLUE_SECONDARY;
$INPUT_LABEL: $NEUTRAL_GREY;
$INPUT_BORDER_ERROR: $ORANGE;

/* Push */

$PUSH_CLOSE_BTN_BG: #eff1f2;
$PUSH_CLOSE_BTN_COLOR: #818c99;
