$RED_GRADIENT: linear-gradient(180.36deg, #ed3a35 0.31%, #fc6030 103.28%);
$ORANGE_GRADIENT: linear-gradient(180.36deg, #ff754a 0.31%, #facd58 103.28%);
$GREEN_GRADIENT: linear-gradient(
  180.36deg,
  #009f63 1.91%,
  #71b863 96.31%,
  #b4cf6d 103.28%
);
$GRAY_GRADIENT: linear-gradient(
  76.54deg,
  #e6f0ff 4.55%,
  rgba(243, 244, 248, 0.47) 99.6%,
  #f2f7ff 99.6%
);
