@import 'src/styles/variables/index.scss';
@import 'src/styles/mixins/typography.scss';

@keyframes enter {
  0% {
    bottom: -50%;
  }
  100% {
    bottom: 0;
  }
}

@keyframes expand {
  0% {
    bottom: -30%;
  }
  100% {
    bottom: 0;
  }
}

.btns {
  //width: 80%;
  display: flex;
  align-items: flex-start;
  padding: 2px;
  background: $STROKE_GREY;
  border-radius: calc($ROUNDING_L + 4px);
  min-height: 30px;
  margin: 30px;

  .btn {
    width: 50%;
    background: transparent;
    color: $WHITE;
    border-radius: $ROUNDING_L;
    min-height: 30px;
    @include font-medium-light;

    &__active {
      background: $WHITE;
      color: $STROKE_GREY;
    }
  }
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  z-index: 2;
}

.container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 90px;
  background-color: $BG_GREY;
  transition: bottom $TRANSITION_DURATION;
  z-index: 3;
  animation-iteration-count: 1;
  animation-fill-mode: both;

  &_expand {
    animation: expand 300ms ease;
    animation-fill-mode: both;
  }

  .body {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    max-height: 80vh;
    overflow-y: auto;

    .cards {
      .desktop {
        display: none;
      }
    }
  }

  .header {
    background: $WHITE !important;

    .detailsHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.3rem 0;

      p {
        display: flex;
        justify-content: center;
        width: calc(100% - 24px);
        @include font-moscow-sans-l;
      }

      .closeDetailsBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: $PALE_GREY;
      }
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 4px;
    left: calc(50% - 18px);
    display: block;
    width: 36px;
    height: 5px;
    border-radius: $ROUNDING_S;
    background: $MAIN_DETAILS_BTN_BG_DARK;
  }

  @media screen and (min-width: $large) {
    padding: 0 20% 0 20%;
  }
}
