@import 'src/styles/variables/index.scss';
@import "src/styles/mixins/typography.scss";

.LPButton {
  width: 100%;
  border-radius: $ROUNDING_L;
  border: none;
  cursor: pointer;
  font-weight: 700;
  line-height: 120%;
  padding: 0 0.5rem;
  @include font-moscow-sans-l;

  &_none {
    background-color: transparent;
  }

  &_primary {
    background-color: $BUTTON_PRIMARY_BG;
    color: $WHITE;
  }

  &_secondary {
    @include font-moscow-sans-l;
    background-color: $BUTTON_SECONDARY_BG;
    color: $BUTTON_SECONDARY_TEXT;
  }

  &_action {
    background-color: $BUTTON_ACTION_BG;
    color: $BUTTON_PRIMARY_TEXT;
  }

  &:disabled {
    background-color: $BUTTON_SECONDARY_BG;
    color: $DISABLED_COLOR;
    cursor: not-allowed;
  }

  &_full-width {
    width: 100%;
    max-width: initial;
  }

  &_size {
    &-xxs {
      height: min-content;
    }

    &-xs {
      max-width: 130px;
      height: 28px;
      font-size: 0.7rem;
    }

    &-s {
      max-width: 180px;
      height: 32px;
      font-size: 0.8rem;
    }

    &-m {
      max-width: 400px;
      height: 40px;
      font-size: 1rem;
    }

    &-l {
      height: 54px;
      //font-size: 1.1rem;
    }
  }

  &_withPadding {
    padding: 0 1.5rem;
  }
}
