@import '../../../../styles/variables/index';
@import '../../../../styles/mixins/typography';

.root_section {
  display: grid;
  grid-template-rows: min-content auto;
}

.header_section {
  position: relative;
  display: grid;
  align-items: center;
  column-gap: 10px;
  padding: 16px;
}

.main_section {
  display: grid;
  justify-items: center;
  gap: 32px;
}

.ul_section {
  width: 100%;
  display: grid;
  row-gap: 16px;
}